.hero {
    padding: 5.6vh;
    min-height: 110vh;
    background-image: url(/src/images/hero/hero-desktop.png);
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -54px;

    @media (max-width: 767px) {
        background-image: url(/src/images/hero/hero-mobile.png);
        padding-top: calc(50vh + 25px);
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
    }
    @media (min-width: 768px) and (max-width:1023px) {
        background-image: url(/src/images/hero/hero-mobile.png);
        padding-top: calc(50vh + 25px);
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        margin-top: 0;
    }
    @media (width: 768px) and (height:1024px) {
        background-size: cover;
    }

}